/AutoclickerA.class
/AutoclickerB.class
/Crits.class
/FastBow.class
/HitBoxes.class
/KillAuraA.class
/KillAuraB.class
/KillAuraC.class
/KillAuraD.class
/KillAuraE.class
/KillAuraG.class
/KillauraF.class
/ReachA.class
/ReachB.class
/ReachC.class
/Regen.class
/Twitch.class
